WebServiceProjetos/src/conf/xml-resources/web-service-references/responsavel/wsdl/localhost_8080/projetos/responsavel.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="projetos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="responsavel" targetNamespace="projetos">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="projetos" elementFormDefault="unqualified" targetNamespace="projetos" version="1.0">

  <xs:element name="informacaoConsultaResponsavel" type="tns:informacaoConsultaResponsavel"/>

  <xs:element name="informacaoResponsavel" type="tns:informacaoResponsavel"/>

  <xs:element name="listarResponsavel" type="tns:listarResponsavel"/>

  <xs:element name="listarResponsavelResponse" type="tns:listarResponsavelResponse"/>

  <xs:element name="loginResponsavel" type="tns:loginResponsavel"/>

  <xs:element name="loginResponsavelResponse" type="tns:loginResponsavelResponse"/>

  <xs:element name="registrarResponsavel" type="tns:registrarResponsavel"/>

  <xs:element name="registrarResponsavelResponse" type="tns:registrarResponsavelResponse"/>

  <xs:element name="responsavel" type="tns:responsavel"/>

  <xs:complexType name="listarResponsavel">
    <xs:sequence>
      <xs:element minOccurs="0" name="inicio" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarResponsavelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:informacaoConsultaResponsavel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="informacaoConsultaResponsavel">
    <xs:complexContent>
      <xs:extension base="tns:informacao">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="responsaveis" nillable="true" type="tns:responsavel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="informacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="conteudo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="tns:tipoMensagem"/>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responsavel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ativo" type="xs:boolean"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeCompleto" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registrarResponsavel">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:responsavel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registrarResponsavelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:informacao"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginResponsavel">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginResponsavelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:informacaoResponsavel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="informacaoResponsavel">
    <xs:complexContent>
      <xs:extension base="tns:informacao">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:responsavel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tipoMensagem">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCESSO"/>
      <xs:enumeration value="INFORMACAO"/>
      <xs:enumeration value="ALERTA"/>
      <xs:enumeration value="ERRO"/>
      <xs:enumeration value="FATAL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="loginResponsavelResponse">
    <wsdl:part element="tns:loginResponsavelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarResponsavel">
    <wsdl:part element="tns:listarResponsavel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarResponsavelResponse">
    <wsdl:part element="tns:listarResponsavelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarResponsavelResponse">
    <wsdl:part element="tns:registrarResponsavelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarResponsavel">
    <wsdl:part element="tns:registrarResponsavel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponsavel">
    <wsdl:part element="tns:loginResponsavel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ResponsavelService">
    <wsdl:operation name="listarResponsavel">
      <wsdl:input message="tns:listarResponsavel" name="listarResponsavel">
    </wsdl:input>
      <wsdl:output message="tns:listarResponsavelResponse" name="listarResponsavelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarResponsavel">
      <wsdl:input message="tns:registrarResponsavel" name="registrarResponsavel">
    </wsdl:input>
      <wsdl:output message="tns:registrarResponsavelResponse" name="registrarResponsavelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginResponsavel">
      <wsdl:input message="tns:loginResponsavel" name="loginResponsavel">
    </wsdl:input>
      <wsdl:output message="tns:loginResponsavelResponse" name="loginResponsavelResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="responsavelSoapBinding" type="tns:ResponsavelService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listarResponsavel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarResponsavel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarResponsavelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarResponsavel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registrarResponsavel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registrarResponsavelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginResponsavel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loginResponsavel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponsavelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="responsavel">
    <wsdl:port binding="tns:responsavelSoapBinding" name="ResponsavelServicePort">
      <soap:address location="http://localhost:8080/projetos/responsavel"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>